version: '3.4'

services:
 lxp-bridge:
   container_name: lxp-bridge
   image: celsworth/lxp-bridge:latest
   restart: unless-stopped
   init: true
   volumes:
   - type: bind
     source: ${PWD}/config.yaml
     target: /etc/config.yaml

