[Unit]
Description=lxp-bridge
After=network-online.target

[Service]
User=chris
Restart=always
RestartSec=5
ExecStart=/usr/local/bin/lxp-bridge -c /etc/lxp-bridge/config.yaml

[Install]
WantedBy=default.target
