name: Docker Development Build

on:
  push:
    branches:
    - master

jobs:
  docker:
    name: Docker Development Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Login to DockerHub Registry
        uses: docker/login-action@v1
        with:
          username: celsworth
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ci/Dockerfile
          push: true
          tags: celsworth/lxp-bridge:dev
          platforms: |
            linux/amd64
            linux/arm64
            linux/arm/v7
