on:
  release:
    types:
      - published

name: Release

jobs:
  docker:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Login to DockerHub Registry
        uses: docker/login-action@v1
        with:
          username: celsworth
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Get the version
        id: vars
        run: echo tag=$(echo ${{github.ref_name}}) >> $GITHUB_OUTPUT

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ci/Dockerfile
          push: true
          tags: celsworth/lxp-bridge:latest,celsworth/lxp-bridge:${{steps.vars.outputs.tag}}
          platforms: |
            linux/amd64
            linux/arm64
            linux/arm/v7

  update_addon:
    name: Update Home Assistant add-on
    needs: docker
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Get the version
        id: vars
        run: echo tag=$(echo ${{github.ref_name}}) >> $GITHUB_OUTPUT

      - name: Change image version number
        uses: jossef/action-set-json-field@v1
        with:
          file: addon/config/json
          field: version
          value: ${{steps.vars.outputs.tag}}

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit-message: Update add-on version

  build:
    name: Build ${{ matrix.build }}
    runs-on: ${{ matrix.os }}
    continue-on-error: true
    strategy:
      matrix:
        include:
        - build: linux-amd64
          os: ubuntu-latest
          target: x86_64-unknown-linux-gnu
        - build: linux-arm64
          os: ubuntu-latest
          packages: gcc-aarch64-linux-gnu g++-aarch64-linux-gnu libc6-dev-arm64-cross
          openssl: true
          target: aarch64-unknown-linux-gnu
          gcc: aarch64-linux-gnu-gcc
          machine: aarch64
          arch: aarch64
        - build: linux-arm-v7
          os: ubuntu-latest
          packages: gcc-arm-linux-gnueabihf libc6-dev-armel-cross
          openssl: true
          target: armv7-unknown-linux-gnueabihf
          gcc: arm-linux-gnueabihf-gcc
          machine: arm
          arch: arm
        - build: darwin-amd64
          os: macos-11
          target: x86_64-apple-darwin
        - build: darwin-arm64
          os: macos-11
          target: aarch64-apple-darwin

    steps:
      - uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: |
            /usr/share/rust
            ~/.cargo
            ~/openssl-1.1.1l
            target
          key: ${{ matrix.target }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Install packages
        if: matrix.packages
        run: |
          sudo apt-get update
          sudo apt-get install -y ${{ matrix.packages }}

      - name: Build OpenSSL
        if: matrix.openssl
        run: |
          cd ~
          wget https://www.openssl.org/source/openssl-1.1.1l.tar.gz
          tar xzf openssl-1.1.1l.tar.gz
          export MACHINE=${{ matrix.machine }}
          export ARCH=${{ matrix.arch }}
          export CC=${{ matrix.gcc }}
          cd openssl-1.1.1l && ./config shared && make
          echo OPENSSL_LIB_DIR=~/openssl-1.1.1l >>$GITHUB_ENV
          echo OPENSSL_INCLUDE_DIR=~/openssl-1.1.1l/include >>$GITHUB_ENV

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
          target: ${{ matrix.target }}

      - name: Build release binary
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release --target ${{ matrix.target }}

      - name: Set release version
        shell: bash
        run: |
          echo "RELEASE_VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
          echo "release version: $RELEASE_VERSION"

      - name: Build archive
        shell: bash
        run: |
          staging="lxp-bridge-${{ env.RELEASE_VERSION }}-${{ matrix.target }}"
          mkdir -p "$staging"
          cp "config.yaml.example" "$staging/"
          cp "target/${{ matrix.target }}/release/lxp-bridge" "$staging/"
          strip "$staging/lxp-bridge" || true
          7z a "$staging.zip" "$staging"
          echo "ASSET=$staging.zip" >> $GITHUB_ENV

      - name: Attach archive to release
        shell: bash
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          hub release edit -m "" -a ${{ env.ASSET }} ${{ github.event.release.tag_name }}
